<!DOCTYPE html>
<html>
{% macro trace(trace, back = 4, next = 3) %}
    {% set lines = file(trace.file) %}
    {% set start = (trace.line - back >= 0) ? trace.line - back : 0 %}
    {% set end = (trace.line + next > lines|length - 1) ? lines|length - 1 : trace.line + next %}
    {% spaceless %}
    {% for li in range(start, end) %}
    <div {% if li == (trace.line - 1) %} class="exception_highlight"{% endif %}>
    {{ li+1 }}.{{ highlight_string(lines[li], true)|raw }}</div>
    {% endfor %}
    {% endspaceless %}
{% endmacro %}
{% import _self as macros %}
{% set eType = basename(get_class(e)) %}
<head>
<meta charset="{{ _charset }}" />
<title>{{ eType }}</title>
<link href="{{ asset('css/exception.css') }}" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ asset('css/structure.css') }}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div class="exception">
<h2 style="margin-top: -5px;padding: 10px 5px">Ha ocurrido una Excepción ({{ eType }})</h2>
<div class="message well">
<p><strong>
{{ e.message|raw }} ({{ e.code }})
</strong></p>
<p>En el archivo <em>{{ e.file }}</em> en la línea: <em>{{ e.line }}</em></p>
</div>
<div class="exception_trace">{{ macros.trace(e) }}</div>

<div class="exception_information">
<h2>Rastro</h2>
{% for trace in e.trace %}
{% if trace.file is defined %}
<div class="trace well"><strong>{{ trace.file|default }} ({{ trace.line|default }})</strong>
<div class="exception_trace">{{ macros.trace(trace) }}</div></div>
{% endif %}
{% endfor %}
</div>

<div class="exception_information">
<h2>Información Adicional</h2>
<strong>En producción:</strong> {{ constant('PRODUCTION') ? 'Sí' : 'No' }}<br />
<strong>Ubicación actual:</strong>{{ url() }}<br />
<strong>Server: </strong>{{ app.request.server('SERVER_SOFTWARE') }}<br />
<strong>IP Server: </strong>{{ app.request.server('SERVER_ADDR') }}<br />
<strong>IP Visitante: </strong>{{ app.request.server('REMOTE_ADDR') }}<br />
</div>

<table><thead><tr>
<th><h3>{{ round((microtime(1)-constant('START_TIME')),4) }} seg.</h3>Tiempo</th>
<th><h3>{{ number_format(memory_get_usage() / 1048576, 2) }} MB</h3>Memoria Usada</th>
<th><h3>{{ get_included_files()|length }} ficheros</h3>Includes</th>
</tr>
<tr>
<th><h3>{{ ini_get('max_execution_time') }} seg.</h3>Tiempo Máximo PHP</th>
<th><h3>{{ ini_get('memory_limit') }}</h3>Memoria PHP</th>
<th><h3><{{ constant('PHP_VERSION') }}</h3>Versión PHP</th>
</tr>
</thead>
</table>
</div>
<script src="{{ asset('js/jquery/jquery.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $('.trace').on('click', function(event){
        event.preventDefault()
        $('.trace .exception_trace').hide(0)
        var el = $(this).find('.exception_trace')
        if(el.css('display') === 'none'){
            el.css('display', 'block')
        }else{
            el.css('display', 'none')
        }
    })
</script>
</body>
</html>
